<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar Plant Details</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/top_bar.css' %}">-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <!-- {% include 'top_bar.html' %} -->
    <div class="container">
        <div class="content">
            <div class="header">
                <a href="{% url 'solarapp:home' %}">
                    <span class="material-symbols-outlined" style="cursor:pointer;">arrow_back</span>
                </a>
                <h2>ID #{{ plant.id|stringformat:"03d" }} - {{ plant.name }}</h2>
            </div>

            <div class="plant-details">
                <div class="details-form">
                    <div class="detail-item">
                        <label>Solar plant name</label>
                        <input type="text" value="{{ plant.name }}" readonly>
                        <button class="edit-button">edit</button>
                    </div>
                    <div class="detail-item">
                        <label>Owner</label>
                        <input type="text" value="{% if plant.owner %}{{ plant.owner.get_full_name|default:plant.owner.username }}{% else %}N/A{% endif %}" readonly>
                        <button class="edit-button">edit</button>
                    </div>
                    <div class="detail-item">
                        <label>Collected date and time</label>
                        <input type="text" value="{{ plant.collected_at|date:'d M Y - H:i' }}" readonly>
                        <button class="edit-button">edit</button>
                    </div>
                    <div class="detail-item">
                        <label>Submitted date and time</label>
                        <input type="text" value="{{ plant.submitted_at|date:'d M Y - H:i' }}" readonly>
                        <button class="edit-button">edit</button>
                    </div>
                    <div class="detail-item">
                        <label>Weather</label>
                        <input type="text" value="{{ plant.weather }}" readonly>
                        <button class="edit-button">edit</button>
                    </div>
                    <div class="detail-item">
                        <label>Temperature</label>
                        <input type="text" value="{{ plant.temperature }}" readonly>
                        <button class="edit-button">edit</button>
                    </div>
                    <div class="detail-item">
                        <label>Address</label>
                        <textarea readonly>{{ plant.address }}</textarea>
                        <button class="edit-button">edit</button>
                    </div>
                    <div class="detail-item">
                        <label>Who has access</label>
                        <textarea readonly>{{ admin_info }}</textarea>                       
                    </div>
                </div>

                <button class="delete-button">Delete Solar Plant</button>
            </div>

            <div class="data-files">
                <h3>Data files</h3>
                <div class="videos">
                    <div class="video-box">
                        <p>Original Video</p>
                        <div class="video-placeholder">
                            <span class="material-symbols-outlined">play_circle</span>
                        </div>
                    </div>
                    <div class="video-box">
                        <p>Thermal Video</p>
                        <div class="video-placeholder">
                            <span class="material-symbols-outlined">play_circle</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Results Zone A -->
            <div class="results">
                <h3>Result : Zone A</h3>
                <div class="performance-grid">
                    {% for perf in zone_a_performance %}
                        <a href="{% url 'solarapp:detail_perf' plant.id %}">
                            <div class="performance-card 
                            {% if perf == 20 %}low{% elif perf == 50 %}medium{% else %}high{% endif %}">
                            <p>Performance</p>
                            <p>{{ perf }}%</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>

            <!-- Results Zone B -->
            <div class="results">
                <h3>Result : Zone B</h3>
                <div class="performance-grid">
                    {% for perf in zone_b_performance %}
                        <a href="{% url 'solarapp:detail_perf' %}">
                            <div class="performance-card 
                            {% if perf == 20 %}low{% elif perf == 50 %}medium{% else %}high{% endif %}">
                            <p>Performance</p>
                            <p>{{ perf }}%</p>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>
