<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit solar plant</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/editsolar.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="top-bar">
            <button class="home-button">
                <span class="material-symbols-outlined">home</span>
                <p>home</p>
            </button>

            <button class="role-button">
                <span class="material-symbols-outlined">edit</span>
                <p>role management</p>
            </button>

            <button class="user-button">
                <a href="{% url 'solarapp:profile' %}" class="user-button" style="text-decoration: none">
                    <span class="material-symbols-outlined">account_circle</span>
                    <p>{{ user.get_full_name }}</p>
                </a>
            </button>
        </div>
        <div class="header-row">
            <span class="material-symbols-outlined back-arrow">arrow_back</span>
            Edit solar plane
        </div>


        <form>
            <div class="form-map-group">
                <div class="form-group-container">
                    <div class="form-group">
                        <label for="plant-name">Solar Plant Name <span class="required">*</span></label>
                        <div class="input-group">
                          <input type="text" id="plant-name" placeholder="Please type a solar plant name">
                          <button type="button" class="edit-btn">edit</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="plant-properties">Solar Plant properties</label>
                        <div class="input-group">
                            <textarea id="plant-properties" placeholder="Please type solar plant properties" rows="4" cols="50"></textarea>
                            <button type="button"  class="edit-btn">edit</button>
                        </div>
                    </div>
                    <button type="button" class="delete-btn">Delete Solar Plant</button>
                </div>
                <div class="map-container">
                    <label for="address">Address <span class="required">*</span></label>
                    <div class="input-group">
                        <input type="text" id="address" placeholder="Please type an address or choose from maps" />
                        <button type="button"  class="edit-btn">edit</button>
                    </div>
                    <img src="{% static 'images/maps.png' %}" alt="maps">
                    <button type="button" class="map-btn">Choose This Location</button>
                </div>
            </div>
            <button type="submit" class="submit-btn">Submit</button>
        </form>
    </div>

</body>
</html>