<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/top_bar.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        {% include 'top_bar.html' %}

        <div class="welcome-bar">
            <div class="welcome-message">
                Welcome user, here are your tasks for today!
            </div>
            <div class="sort-filter-search">
                <button class="sort-button">sort</button>
                <button class="filter-button">
                    <p>filter</p>
                    <span class="material-symbols-outlined">filter_alt</span>
                </button>
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="search a solar plant">
                </div>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Solar Plant</th>
                    <th>Admin</th>
                    <th>Date</th>
                    <th>Total tasks</th>
                    <th>Status</th>
                    <th>Detail</th>
                    <th>Teams</th>
                </tr>
            </thead>
            <tbody>
                {% for plant in solar_plants %}
                <tr>
                    <td>{{ plant.id|stringformat:"03d" }}</td>
                    <td>{{ plant.name }}</td>
                    <td>{{ plant.admin_name|default:"N/A" }}</td>
                    <td>{{ plant.created_at|date:"d/m/y" }}</td>
                    <td>{{ plant.total_tasks|default:"0" }}</td>
                    <td>{{ plant.status|default:"In process" }}</td>
                    <td>
                        <a href="{% url 'solarapp:detail' plant.id %}" class="detail-button">Detail</a>
                    </td>
                    <td><button class="team-button">Team</button></td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="8">No solar plants found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'solarapp:addnewsolar' %}" class="add-button">+</a>

    </div>
</body>

</html>
