<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to Solar Cell Maintenance System</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

</head>

<body>
    <div class="container">
        <div class="background-div"></div>
        <h1>Solar Cell Maintenance System</h1>
        <div class="login-container">
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <label for="id_username">E-mail:</label>
                    {{ form.username }}

                    <label for="id_password">Password:</label>
                    {{ form.password }}

                </div>
                <button type="submit">Log in</button>
                <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-danger">
                    <i class="fab fa-google"></i> Sign in with Google
                </a>
                <a href="{% url 'solarapp:register' %}">or Create an account</a>
            </form>
        </div>
    </div>
</body>

</html>