<div class="top-bar">
    <button class="home-button">
        <a href="{% url 'solarapp:home' %}" class="user-button" style="text-decoration: none"></a>
        <span class="material-symbols-outlined">home</span>
        <p>home</p>
    </button>

    <button class="role-button">
        <span class="material-symbols-outlined">edit</span>
        <p>role management</p>
    </button>

    <button class="user-button">
        <a href="{% url 'solarapp:profile' %}" class="user-button" style="text-decoration: none">
            <span class="material-symbols-outlined">account_circle</span>
            <p>{{ user.get_full_name }}</p>
        </a>
    </button>
</div>