
<div class="container">
    <div class="top-bar">
        <a href="{% url 'solarapp:home' %}" class="home-button">
            <span class="material-symbols-outlined">home</span>
            <p>home</p>
        </a>        

        <a href="{% url 'solarapp:uploadfile' %}" class="upload-button">
            <span class="material-symbols-outlined">cloud_upload</span>
            <p>upload</p>
        </a>

        <div class="dropdown">
            <button class="user-button">
                <span class="material-symbols-outlined">account_circle</span>
                <p>{{ user.get_full_name }}</p>
            </button>
            <div class="dropdown-content">
                <a href="{% url 'solarapp:profile' %}">Profile</a>
                <a href="{% url 'solarapp:login'%}">Logout</a>
            </div>
        </div>
    </div>
</div>
