* {
    font-family: Geist;
}

/* welcome bar and button */
.welcome-message {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 24px;
    color: #324A32;
    font-weight: bold;
    font-family: inherit;
}

.welcome-bar {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.sort-button,
.filter-button {
    margin-top: 20px;
    background-color: #8CD58C;
    display: inline-flex;
    align-items: center;
    padding: 0px 20px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s;
}

.sort-button:hover,
.filter-button:hover {
    background-color: #388E3C;
}

.sort-button:active,
.filter-button:active {
    background-color: #FFF6A9;
    color: #000000;
}

/* search */
.search-container {
    flex-grow: 1;
}

.search-input {
    margin-top: 20px;
    padding: 0px 20px;
    height: 40px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #A2D0A2;
    color: #FFFFFF;
}

.search-input::placeholder {
    color: #ffffff;
}

.search-input:focus {
    border-color: #388E3C;
}

/*.search-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #45a049;
}*/

.sort-filter-search {
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 5%;
    margin-right: 5%;
}

/* table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background-color: #fff8b0;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 15px 30px;
    text-align: center;
}

th {
    background-color: #d4c44d;
}

tr:nth-child(even) {
    background-color: #fff8b0;
}

tr:nth-child(odd) {
    background-color: #fffce0;
}

.detail-button, .team-button {
    padding: 7px 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    text-decoration: none;
}

.detail-button {
    background-color: #9CA39C;
    color: #ffffff;
}

.team-button {
    background-color: #8CD58C;
    color: #ffffff;
}

.detail-button:hover {
    background-color: #8CD58C;
    color: #000000;
    transition: background 0.3s;
}

.team-button:hover {
    background-color: #9CA39C;
    color: #000000;
    transition: background 0.3s;
}

.add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #607d57;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 36px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    display: inline-block;
}

.add-button:hover {
    border: none;
    background-color: #d4c44d;
    color: #000000;
    transition: background 0.3s;
}

.plant-name-link {
    text-decoration: none;
    color: #000000;
}
.apply-button {
    background-color: #547D54;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    transition: background-color 0.3s ease;
}

.apply-button:hover {
    background-color: #FFEE59;
    color: #547D54;
}

.apply-button:active {
    background-color: #DCCE52;
}
