* {
    font-family: Geist;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../images/solarbg.PNG') no-repeat center center/cover;
}



.container {
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 45px;
    font-weight: bold;
    color: #547D54;
    margin-bottom: 50px;
}

.login-container {
    background-color: #547D54;
    padding: 50px 40px;
    border-radius: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    width: 500px;
    text-align: center;
    margin: auto;
}

.input-group {
    margin-bottom: 15px;
    text-align: center;
}

.input-group label {
    display: block;
    font-weight: bold;
    color: #FFFACD;
    margin-bottom: 10px; 
    font-size: 25px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 25px;
    font-size: 25px;
}

.login-btn {
    width: 25%;
    padding: 14px;
    background-color: #FDF4C3;
    color: #2E4D2E;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;  
    margin-top: 15px;
    transition: background-color 0.3s, color 0.3s;
}
.login-btn:hover {
    background-color: #FFD700; 
    color: #1E3A1E; 
}

a.btn.btn-danger {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FDF4C3;
    color: #2E4D2E;
    border-radius: 25px;
    padding: 14px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    gap: 5px;
    width: 70%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px auto;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

a.btn.btn-danger img.google-logo {
    height: 30px;
    width: 30px;
}

a.btn.btn-danger:hover {
    background-color: #FFD700; 
    color: #1E3A1E; 
}

.register-link {
    margin-top: 15px;
    color: white;
    font-size: 20px;
}

.register-link a {
    color: #FDF4C3;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}