* {
    font-family: Geist;
}

.header {
    margin-top: 20px;
    margin-left: 50px;
    color: #324A32;
    font-weight: bold;
    font-family: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header h2 {
    margin: 0;
    font-size: 22px;
}


/* table */
.table-container {
    margin-left: 20px;
    margin-right: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    background-color: #fff8b0;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 15px 30px;
    text-align: center;
}

th {
    background-color: #BFBFBF;
}

tr:nth-child(even) {
    background-color: #FFFCDF;
}

tr:nth-child(odd) {
    background-color: #fffce0;
}

/* select dropdown */
td form {
    display: flex;
    align-items: center;
    gap: 8px; 
}

.select2-container {
    width: 100% !important;
    font-family: 'Geist', sans-serif;
    font-size: 14px;
}

form button {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-family: 'Geist', sans-serif;
    transition: background 0.3s;
}

form button:hover {
    background-color: #324A32;
    color: #ffffff;
}
