body {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 100vh;
}

.top-bar {
    width: 100%;
    height: 50px;
    background-color: #547D54;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

/* top bar button */
.home-button, .role-button, .user-button {
    display: inline-flex;
    align-items: center;
    padding: 0px 20px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #547D54;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.home-button p, .role-button p, .user-button p {
    font-size: 16;
    color: #ffffff;
    font-family: inherit;
}

.home-button:hover, .role-button:hover, .user-button:hover {
    background-color: #388E3C;
}

.home-button:active, .role-button:active, .user-button:active {
    background-color: #DCCE52;
}

.home-button .material-symbols-outlined, .role-button .material-symbols-outlined, .user-button .material-symbols-outlined {
    margin-right: 10px;
}

.user-button p {
    text-decoration: underline;
    font-family: inherit;
}